<html>
    <%- include('links') %>
    <%- include('menu') %>
    <br>
    <br>
    <br>
<title>Ani+ - Türkçe Anime İzleme Platformu</title>
<center>
<a href="/anime/owari-no-seraph"><img class="image" src="https://p4.wallpaperbetter.com/wallpaper/605/828/985/anime-seraph-of-the-end-mikaela-hyakuya-y%C5%ABichir%C5%8D-hyakuya-wallpaper-preview.jpg"></a> <br> <br>
</center>
<a href="/anime/owari-no-seraph"></a><h2 style="padding-left: 225px;padding-right: 200px;">Owari No Seraph (2015)</h2></a>
<p style="padding-left: 225px;color: #57F287;padding-right: 200px;">Aksiyon & Macera/Bilim Kurgu & Fantezi
</p>
<br>
<p style="padding-left: 225px;padding-right: 200px;">Seri, bilinmeyen bir virüs nedeniyle 13 yaşın altındaki çocuklar haricinde tüm insanların öldüğü bir dünyada geçmektedir. Bu çocuklar daha sonra vampirler tarafından tutsak edilirler. Serinin ana karakteri olan Yūichirō Hyakuya ise, intikam için birgün tüm vampirleri öldürmeye yetecek gücü elde etmeyi planlar.</p>
<br>
</html>