
    <link rel="stylesheet" href="/style"/>
    <div class="menu">
        <ul>
            <li><div align="left"><img src="/logo" width="100" height="100"/></div> </li> </a>
            <br><br>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/anime/gotoubun">Developer Test: 5-Toubun no Hanayome</a></li>
            <li><a href="/lists/000001">En Son Eklenen Animeler</a></li>
            </ul>
            </div>
