<html>
    <%- include('links') %>
    <%- include('menu') %>

<title>Owari no Seraph - Ani+</title>
<div align="left">
    <br>
    <br>
    <br>
    <img style="padding-left: 225px;" class="image1" width="250" height="350" src="https://m.media-amazon.com/images/M/MV5BZTNlYmU1MmItMGFiNi00MjUxLThlOWMtMzgxMzIyNzk3ODgwXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg">
</div>

<br>
<h2 style="padding-left: 225px;padding-right: 200px;">Owari No Seraph (2015)</h2></a>
<p style="padding-left: 225px;color: #57F287;padding-right: 200px;">Aksiyon & Macera/Bilim Kurgu & Fantezi
</p>
<br>
<p style="padding-left: 225px;padding-right: 200px;">Seri, bilinmeyen bir virüs nedeniyle 13 yaşın altındaki çocuklar haricinde tüm insanların öldüğü bir dünyada geçmektedir. Bu çocuklar daha sonra vampirler tarafından tutsak edilirler. Serinin ana karakteri olan Yūichirō Hyakuya ise, intikam için birgün tüm vampirleri öldürmeye yetecek gücü elde etmeyi planlar.</p>
<br>
<br>
<h2 style="padding-left: 225px;padding-right: 200px;">Owari no Seraph 1. Sezon - 1. Bölüm</h2>
<br>
<br>
<iframe src="https://uqload.com/embed-p7yg4qce4lat.html" style="padding-left: 225px;padding-right: 200px; width: 65%; height: 70%; " frameborder="0"></iframe>
<br>
<br>
<h2 style="padding-left: 225px;padding-right: 200px;">Owari no Seraph 1. Sezon - 2. Bölüm</h2>
<br>
<br>
<iframe src="https://uqload.com/embed-w1cvmeo8p1bm.html" style="padding-left: 225px;padding-right: 200px; width: 65%; height: 70%; " frameborder="0"></iframe>
<br>
<br>
</html>