:root{
	--blurple:  #5865F2;
	--green: #57F287;
	--yellow:  #FEE75C;
	--pink: #EB459E;
	--red:  #ED4245;
	--grey:  #99aab5;
	--dark: #2c2f33;
	--black: #23272a;
	--orange:  #faa61a;
	--background:  rgb(24, 26, 34);
}
::selection{
	color: var(--green);
	background-color: var(--background);
}
.comments {
	background-color: var(--background);
	color: white;
	border-radius: 5px;
	padding-left: 50px;
	padding-right: 50px;
}
.comments .principle{
	background-color: var(--dark);
	border-radius: 5px;
	padding: 15px;
	color: white;
	font-size: 20px;
}
.comments .principle h1, h2, h3, h4, h5, h6{
	color: white;
}
.comments .pfp{
	vertical-align:middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comments .comment{
	background-color: var(--dark);
	padding: 15px;
	color: white;
	padding-left: 20px;
}
.comments .comment .text{
	position: absolute;
	color: white;
	padding-left: 5px;
}
.comments .subcomment-derece1 .text{
	position: absolute;
	color: white;
	padding-left: 5px;
}
.comments .subcomment-derece2 .text{
	position: absolute;
	color: white;
	padding-left: 5px;
}
.comments .subcomment-derece1{
	background-color: var(--dark);
	padding: 10px;
	color: white;
	padding-left: 50px;
}
.comments .subcomment-derece2{
	background-color: var(--dark);
	padding: 15px;
	color: white;
	padding-left: 70px;
}
.comments .subcomment-derece1 .pfp{
	vertical-align:middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comments .subcomment-derece2 .pfp{
	vertical-align:middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

button {
-webkit-user-select: none;
background: var(--blurple);
border: 0;
border-radius: 2px;
box-sizing: border-box;
color: #fff;
cursor: pointer;
font-size: .875em;
margin: 0;
padding: 10px 24px;
transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
box-shadow: 0 1px 2px rgba(1, 1, 1, 0.5);
}
.image {
	border-radius: 10px;
	border-color: var(--red);
	opacity: 1;
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
}
.image:hover {
	border-radius: 10px;
	border-color: var(--red);
	opacity: 0.5;
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
}
body {
	background-color: var(--background);
	background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    color: white;
	margin:0;
	padding:0;
}
* {
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    color: white;
	margin:0;
	padding:0;
}
	.menu{
		width:1000px;
		height:48px;
		background:transparent;
		margin:0 auto;
		border-bottom:4px Black;
	}
	.menu ul li {
		float:left;
		list-style-type:none;
	}
	.menu ul li a{
		color:White;
		font:17px Arial;
		text-decoration:none;
		display:block;
		padding:14px 15px;
		transition:all .5s;
		-webkit-transition:all .5s;
		-moz-transition:all .5s;
	}
	.menu ul li a:hover{
		background: transparent;
		color:var(--green);
	}
	.avatar {
		vertical-align:middle;
		width: 20px;
		height: 20px;
		border-radius: 50%;
	  }
	/* MEDIA */
	@media screen and (min-width: 0px) and (max-width: 270px) {
		.banner {
			display: none;
		}
		.image1 {
			display: none;
		}
		}
	@media screen and (min-width: 270px) and (max-width: 300px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:20px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:20px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 300px) and (max-width: 350px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:50px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:50px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 350px) and (max-width: 430px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:100px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:100px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 430px) and (max-width: 500px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:150px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:150px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 500px) and (max-width: 615px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:200px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:200px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 615px) and (max-width: 715px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:250px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:250px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 715px) and (max-width: 815px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:290px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:290px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 815px) and (max-width: 900px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:330px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:330px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 900px) and (max-width: 990px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:350px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:350px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 990px) and (max-width: 1060px) {
		.banner {
			display: none;
		}
		.image1 {
			padding-left:375px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:375px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
	@media screen and (min-width: 1060px) and (max-width: 1093px) {
	.banner {
		display: none;
	}
	.image1 {
		padding-left:400px;
		opacity: 1;
		transition:all .5s;
		-webkit-transition:all .5s;
		-moz-transition:all .5s;
	}
	.image1:hover {
		padding-left:400px;
		opacity: 0.5;
		transition:all .5s;
		-webkit-transition:all .5s;
		-moz-transition:all .5s;
	}
	}
	@media screen and (min-width: 1093px) and (max-width: 9000000px) {
		.banner {
			height: 350px;
			position: absolute;
			padding-left: 50px;
			padding-right:30px;
			opacity: 0.8;
		}
		.image1 {
			padding-left:170px;
			opacity: 1;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		.image1:hover {
			padding-left:170px;
			opacity: 0.5;
			transition:all .5s;
			-webkit-transition:all .5s;
			-moz-transition:all .5s;
		}
		}
		@media screen and (min-width: 0px) and (max-width: 530px) {
			.text1 {
				display: none;
			}
			.text2 {
				display: none;
			}
			.text3 {
				display: none;
			}
			.image2 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image2:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.text4 {
				display: none;
			}
			}
		@media screen and (min-width: 530px) and (max-width: 545px) {
			.text1 {
				padding-right: 20px;
			}
			.text2 {
				padding-right: 20px;
			}
			.text3 {
				padding-right: 20px;
			}
			.image2 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image2:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			}
		@media screen and (min-width: 545px) and (max-width: 580px) {
			.text1 {
				padding-left: 10px;
				padding-right: 20px;
			}
			.text2 {
				padding-right: 20px;
			}
			.text3 {
				padding-right: 20px;
			}
			.image2 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image2:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3 {
				padding-left: 10px;
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3:hover {
				padding-left: 10px;
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			}
		@media screen and (min-width: 580px) and (max-width: 640px) {
			.text1 {
				padding-left: 50px;
				padding-right: 20px;
			}
			.text2 {
				padding-right: 20px;
			}
			.text3 {
				padding-right: 20px;
			}
			.image2 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image2:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3 {
				padding-left: 50px;
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3:hover {
				padding-left: 50px;
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			}
		@media screen and (min-width: 640px) and (max-width: 815px) {
			.text1 {
				padding-left: 100px;
				padding-right: 20px;
			}
			.text2 {
				padding-right: 20px;
			}
			.text3 {
				padding-right: 20px;
			}
			.image2 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image2:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3 {
				padding-left: 100px;
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3:hover {
				padding-left: 100px;
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			}
		@media screen and (min-width: 815px) and (max-width: 9000000px) {
			.text1 {
				padding-left: 200px;
				padding-right: 20px;
			}
			.text2 {
				padding-right: 20px;
			}
			.text3 {
				padding-right: 20px;
			}
			.image2 {
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image2:hover {
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3 {
				padding-left: 200px;
				opacity: 1;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			.image3:hover {
				padding-left: 200px;
				opacity: 0.5;
				transition:all .5s;
				-webkit-transition:all .5s;
				-moz-transition:all .5s;
			}
			}